



/*contenedor general*/

.texto-container {
  color: #e0e0e0;
  max-width: 1000px;
  min-height: 300px;
  margin: 40px auto;
  padding: 50px;
  text-align: center;
  background-color: #1c1c1c;
  border-radius: 12px;
}

/*fuente */
.texto-container h1 {
  font-family: 'Playfair Display', serif;
  color: #ffffff;
  margin-bottom: 20px;
}


/* linea dorada */
.texto-container::after {
  content: "";
  display: block;
  width: 800 px;
  height: 3px;
  margin: 30px auto 0;
  background: linear-gradient(to right, transparent, #c9a44c, transparent); 
}
